* {
    font-family: Roboto, serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.heading {
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
    margin: 0;
}
