* {
    font-family: Roboto, serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.heading {
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
    margin: 0;
}

.sub-heading {
    font-size: 28px;
}

.rating-row {
    margin-top: 43px;
}

.bold {
    font-weight: bold;
}

.container {
    margin-top: 118px;
}

.star-container-header {
    margin-left: 24px;
}

.star {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    color: #E0E0E0;
    font-size: 28px;
}

.star-checked {
    background: -webkit-linear-gradient(180deg, #FFCD69 0%, #FDCE71 100%);
    background: linear-gradient(180deg, #FFCD69 0%, #FDCE71 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    color: transparent;
}

hr {
    margin: 60px 0 40px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #B9B9B9;
}

.btn {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 14px 18px;
    cursor: pointer;
}

.review-item {
    margin-top: 29px;
}

.review-comment {
    font-size: 20px;
    line-height: 23px;
    color: #929292;
    margin: 0 0 0 29px;
}

.text-primary {
    color: #000000;
}

.rating-val {
    margin-right: 8px;
}
