* {
    font-family: Roboto, serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.heading {
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
    margin: 0;
}

.sub-heading {
    font-size: 28px;
}

.f-24 {
    font-size: 24px;
}

.f-20 {
    font-size: 20px;
}

.rating-row {
    margin-top: 43px;
}

.bold {
    font-weight: bold;
}

.container {
    margin-top: 60px;
    max-width: 580px;
}

.star-container-header {
    margin-left: 24px;
}

.star {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    color: #E0E0E0;
    font-size: 28px;
}

.star-checked {
    background: -webkit-linear-gradient(180deg, #FFCD69 0%, #FDCE71 100%);
    background: linear-gradient(180deg, #FFCD69 0%, #FDCE71 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    color: transparent;
}

hr {
    margin: 60px 0 40px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #B9B9B9;
}

.btn {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 14px 18px;
    cursor: pointer;
    display: inline-block;
}

.reviews-container {
    max-height: 45vh;
    overflow-y: auto;
}

.review-item {
    margin-top: 29px;
}

.review-comment {
    font-size: 20px;
    line-height: 23px;
    color: #929292;
    margin: 0 0 0 29px;
    max-width: 400px;
}

.text-primary {
    color: #000000;
}

.rating-val {
    margin-right: 8px;
}

.add-review-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.add-review-open {
    visibility: visible;
}

.wrapper {
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease-in;
}

.wrapper:not(.open) {
    visibility: hidden;
}

.wrapper.open {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: fixed;
    width: 100%;
}

.dialog {
    background: #ffffff;
    max-width: 680px;
    position: fixed;
    padding: 48px 53px;
    border-radius: 20px;
}

.review-input {
    outline: none !important;
    border: none !important;
    font-size: 20px;
    color: #929292;
    resize: none;
}

.mt-40{
    margin-top: 40px;
}

.pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

@media only screen and (min-device-width: 768px){
    .dialog {
        width: 680px;
    }

    .container {
        width: 580px;
    }
}

.star-right {
    transform: scaleX(-1);
    margin-left: -2.3px;
}
